.main_title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 0px 20px 20px 20px;
}

.container_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 500px) {
    .title {
        font-size: 125px;
        margin: 0 auto;
        text-align: center;
        color: #fa6166;
        font-family: 'Times New Roman', Times, serif;
    }
    a {
        color: #000;
    }
    .card {
        width: 225px;
        min-height: 400px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        border-radius: 4px;
        transition: 0.2s;
        margin-bottom: 50px;
        padding: 10px 10px 0px 10px;
    }
    .card__top {
        flex: 0 0 220px;
        position: relative;
        overflow: hidden;
    }
    .card__image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .card__name {
        display: block;
        font-weight: 400;
        font-size: 17px;
        line-height: 150%;
    }

    .card__author {
        color: #666;
        margin-bottom: 10px;
        padding-left: 4%;
    }
    
    .card__price {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .card_in_cart, .card_in_fav {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    
    .scprice {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    #quantity {
        width: 50px;
        margin-left: 40%;
    }
}

@media (min-width: 819px) {
    .title {
        font-size: 125px;
        margin: 0 auto;
        text-align: center;
        color: #fa6166;
        font-family: 'Times New Roman', Times, serif;
    }
}

@media (max-width: 819px) {
    .title {
        font-size: 50px;
        margin: 0 auto;
        text-align: center;
        color: #fa6166;
        font-family: 'Times New Roman', Times, serif;
    }
}

@media (max-width: 499px) {
    .card {
        width: 112px;
        min-height: 250px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        border-radius: 4px;
        transition: 0.2s;
        margin-bottom: 50px;
        padding: 10px 10px 0px 10px;
    }
    
    .card__top {
        flex: 0 0 112px;
        position: relative;
        overflow: hidden;
    }
    
    .card__image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .card__name {
        display: block;
        margin-top: 3px;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
    }

    .card__author {
        color: #666;
        margin-bottom: 2px;
        font-size: 12px;
        padding-left: 4%;
    }
    
    .card__price {
        font-weight: bold;
        font-size: 13px;
        display: flex;
    }
    
    .card_in_cart, .card_in_fav {
        font-size: 13px;
    }
    
    .card_in {
        font-size: 13px;
    }
    
    #quantity {
        width: 30px;
        margin: 0px;
        margin-left: 5px;
    }
    
    a.nav-link.active.add-to-cart {
        margin-right: 3px;
    }
}

.card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
}

.card__image:hover > img {
    transform: scale(1.1);
}

.card__add {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_in {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.items {
    display: flex;
    align-items: center;
}

.items__control {
    margin: 0 5px;
    cursor: pointer;
}

.card_in_fav:hover {
    transform: scale(1.2);
}

.card_in_fav svg:hover {
    color: black;
}

.card__title:hover {
    color: #ff6633;
}

.in_cart {
    text-align: center;
    margin-top: 10px;
}

.in_cart button {
    background-color: #fa6166;
    height: 38px;
    border-radius: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btnn {
    border: none;
    background-color: transparent;
}

.added-to-cart {
    animation: pulse 2s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}